<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/site.css">
    <title>Vue Basics</title>
</head>
<body>
    <div id="app">
        <!-- Text interpolation -->
        <h1>{{pageTitle}}</h1>

        <!-- Binding elements -->
        <h2>Binding elements</h2>
        <p v-bind:title="hoverText">Hover over me!</p>

        <!-- Conditionals -->
        <!-- CSS atrributes -->
        <div v-bind:class="{active: canYouSeeMe}">
            <h2>Conditionals</h2>
            <div v-if="canYouSeeMe">
                <p>Now you can see me!</p>
            </div>
            <div v-else>
                <p>I will show if <b>canYouSeeMe</b> is false</p>
            </div>
            <!-- method events -->
            <div>
                <button v-on:click="toggleCanYouSeeMe">Toggle</button>
            </div>
        </div>

        <!-- Loops -->
        <div>
            <h2>Loops</h2>
            <ol>
                <!-- v-for can take a second argument for the index like so:
                <li v-for="(person, index) in people"> -->
                <li v-for="person in people">
                    {{person.name}} lives in {{person.city}}
                </li>
            </ol>
        </div>

        <!-- Two way binding -->
        <div>
            <h2>Two way binding</h2>
            <p>{{twoWayBindingMessage}}</p>
            <input v-model="twoWayBindingMessage">
        </div>

        <!-- Events -->
        <div>
            <h2>Listening to events</h2>
            <button v-on:click="counter += 1">Add 1</button>
            <p>You've clicked the button {{counter}} times</p>
        </div>

    </div>
    <!-- script with Vue data must be at the end of the body -->
    <script src="js/app.js"></script>
</body>
</html>